{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form action="/add_note" method="post">
        <h1 class="title text-center m-3">Note App</h1>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter Note Title" name="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="4" placeholder="Enter Note Content" name="content"></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <div class="notes mb-5">
      <h2 class="text-center">Notes</h2>
      {% for note in notes %}
        <div class="shadow p-3 mb-5 bg-white rounded">
          <h3>{{ note.title }}</h3>
          <small>{{ note.date_posted }}</small>
          <p>{{ note.content }}</p>
          <a href="/update/{{note.id}}" class="btn btn-success">Update</a>
          <a href="/delete/{{note.id}}" class="btn btn-danger">Delete</a>
        </div>
      {% endfor %} 
    </div>
      
</div>

{% endblock %}